<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/sindhusmac/Desktop/SampleMavenProject">
        <classes>
            <class name="TestingSS.SeleniumPractice">
                <methods>
                    <include name="testng1"/>
                    <include name="testng2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>